p code, li code {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ddd;
    border-radius: 0.4em;
    color: #555;
    display: inline-block;
    font-size: 0.8em;
    line-height: 1.5em;
    margin: -1px 0;
    padding: 0 0.3em;
}